page-profile {
    .scroll-content{
        height: 95%;
    }

     #profile{
        
        width: 100%;
        height: 100%;
 
        //display: flex;
        
        .profileHeader{
            //position: relative;
            //background-color: blanchedalmond;
            width: 94%;
            height: 150px;
            margin-top: 10px;
        }


        .content-img{
            height: 100%; 
            background-image:url('../../assets/imgs/background-pastel.jpg');  
            padding: 0; 
            overflow: hidden; 
            background-size: cover; 
            background-position: center;
        }
        .div-edit{
            background-color: bisque; 
            width: 30px;
            height: 30px;
            float: right;
            //margin-top: 115px;
            margin-right: 5px;
            text-align: center;
            vertical-align: middle;
            padding-top:7px;
            border-radius: 20px;
        }
        ion-card-content{
            img{
                vertical-align: middle;
                text-align: center;
                // margin-left: auto!important;
                // margin-right: auto!important;
                width: 100%;

            }
        }
    }

    .content-profile{
        width: 100%;
        height: 100%;
        background-color: rgb(226, 226, 226);
        margin-bottom: 150px;
        align-items: center;
	    justify-content: center;
        //margin: 150px;
        position: relative!important;
        .profileHeader{
            
            margin-top: 5px;
            position: relative;
            //width: 100%;
            height: 140px;
            margin-left: 0px;
            background-color: #25d366;
            

        }

        .headerImg{
            //object-position: 10% 50%;
            object-fit: fill;
            width: 100%;
            height: 100%;
            //position: relative;
            overflow: hidden;
            
            
        }
        .photo{
            background-color: rgba(255, 255, 255, 0.301); 
            // opacity: 1;
            width: 30px;
            height: 30px;
            margin: 5px;
            
            // margin-left: 95%;
            text-align: center;
            vertical-align: middle;
            padding-top:7px;
            border-radius: 20px;
            //border-top-left-radius: 10px;
            position: absolute;


        }
        .social{
            //margin-top:2px;
            width: 100%; 
            height: 40px; 
            padding: 6px;
            //background-color: #fdf497;
            position: absolute;
        }
        .instagram{
            float: right;
            //display: inline-block;
            width: 30px;
            height: 30px;
            text-align: center;
            border-radius: 10px;
            color: #fff;
            // font-size: 220px;
            line-height: 31px;
            vertical-align: middle;
            background: #d6249f;
            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
            -webkit-box-shadow: 7px 6px 5px -3px rgba(0,0,0,0.54);
            -moz-box-shadow: 7px 6px 5px -3px rgba(0,0,0,0.54);
            box-shadow: 7px 6px 5px -3px rgba(0,0,0,0.54);
            font-size: 25px;
 
            margin-right: 10px;
           
        }
        .whatsApp{
            width: 30px;
            height: 30px;
            float: right;
            background-color: #25d366;
            border-radius: 5px;
            padding-top: 3px;
            padding-left: 5px;
            -webkit-box-shadow: 7px 6px 5px -3px rgba(0,0,0,0.54);
            -moz-box-shadow: 7px 6px 5px -3px rgba(0,0,0,0.54);
            box-shadow: 7px 6px 5px -3px rgba(0,0,0,0.54);
            margin-right: 10px;
        }
        .outFace{
            //margin-top: 10px;
            background-color: #43609C; 
            padding-top: 4px;
            padding-left: 4px;
            //text-align: center;
            width: 30px;
            height: 30px;
            //display: block;
            float: right;
            border-radius: 12%;
            -webkit-box-shadow: 7px 6px 5px -3px rgba(0,0,0,0.54);
            -moz-box-shadow: 7px 6px 5px -3px rgba(0,0,0,0.54);
            box-shadow: 7px 6px 5px -3px rgba(0,0,0,0.54);
            margin-right: 10px;
        }
        .facebook{
            background: #fff;
            border-radius: 9%;
            //display: block;
            position: absolute;
            height: 22px;
            //margin: px 0 0 -49px;
            //position: absolute;
            //top: 50%;
            width: 22px; 
            padding-top: 5px;
            
        }
        .facebook:after {
            color: #43609C;
            content: "f";
            //display: block;
            font-family: Facebook Letter Faces, Arial;
            font-size: 25px;
            font-weight: bold;
            margin-left: 50%;
            //margin-top: 22px; 
            width: 45px;
        }
        .tw{
            text-align: center;
            padding-top: 3px;
            width: 30px;
            height: 30px;
            background-color:  #2daae1;
            border-radius: 5px;
            float: right;
            //margin-right: 10px;
            -webkit-box-shadow: 7px 6px 5px -3px rgba(0,0,0,0.54);
            -moz-box-shadow: 7px 6px 5px -3px rgba(0,0,0,0.54);
            box-shadow: 7px 6px 5px -3px rgba(0,0,0,0.54);
            margin-right: 10px;
        }
        .twitter{
            color: white;
            font-size: 24px;
        }
        .perfil_name{
            position: relative;
            font-size: 15px;
            //float: left;
            //margin: 10px;
            width: 100%;
            padding: 10px;
            height: 70px;
            background-color: rgba(255, 255, 255, 0.479);
            box-shadow: 0px 3px 10px rgba(0,0,0,.25);
            
        }
        .container-newPoste{
            padding-left: 10px;
            padding-right: 10px;
            margin-top: 10px;
            position: relative;

        }
        .createPost{
            //position: relative;
            width: 100%;
            height: 300px;
            border: 2px dashed rgba(2, 2, 2, 0.205);
            padding-left: 10px;
            padding-right: 10px;
            //padding-bottom: 0px;
            //padding-top: 0px;
            //margin-top: 45px;
         }
        .iconAdd{
            display: table;
            width: 100%;
            height: 64%;
            //border: 2px dashed rgba(2, 2, 2, 0.205);
            background-color: rgba(2, 2, 2, 0.103);
            padding-bottom: 0px;
            -webkit-box-shadow: 0px 12px 25px -11px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 12px 25px -11px rgba(0,0,0,0.75);
            box-shadow: 0px 12px 25px -11px rgba(0,0,0,0.75);
        }
        .sendPost{
            float: right;
            margin-top: 10px;
            

        }
        .closePost{

            float: left;
            margin-top: 10px;

        }

        .selected_Img{
            object-fit: cover;
            width: 100%;
            height: 100%;

        }

        .posts{
            margin-top: 0px;
            column-count: 1;
            padding-top: 10px;
            padding-left: 10px;
            width: 100%;
            padding-right: 10px;
            margin-bottom: 10px;
        }
        .card_post{
            margin-top: 0px;
            margin-bottom: 15px;
            margin-left: 0px;
            width: 100%;
            -webkit-box-shadow: 7px 6px 5px -3px rgba(0,0,0,0.54);
            -moz-box-shadow: 7px 6px 5px -3px rgba(0,0,0,0.54);
            box-shadow: 7px 6px 5px -3px rgba(0,0,0,0.54);
            
        }
        .card_img{
            //width: 400px;
            max-height: 150px;
            object-fit: cover;
            position: relative;
            overflow: hidden;
        }
        .content-card{
            width: 100%;
            padding-left: 5px;
            background-color: rgb(255, 255, 255);
            height: 35px;
            padding-top: 8px;
            
        }
        .profileName{
            float: left;
            //position: relative;
            //margin-top: -150px;
            font-size: 25px;
            
            margin-bottom: 10px;
            
        }
        .trash{
            position: absolute;
            float: right;
            margin:5px;
            
        }
        .fab-newPost{
            margin-bottom: 12%;
            //margin-right: 3%;
        }
        .icon-pin{
            width: 30px;
            height: 30px;
            border-radius: 20px;
            float: left;
            background-color: rgba(223, 157, 157, 0.178);
            padding-top: 3px;
            padding-left: 8px;
            margin-top: -6px;
            margin-right: 5px;
        }
        .pin{
            color: red;
            float: left;
            font-size: 24px;
        }
        // .div-sector{
        //     float: left;
        //     margin-right: 10px;
        //     //width: 60px;
        // }
        // .color-sector{
        //     width: 20px; 
        //     height: 20px; 
        //     border-radius: 20px;
        //     //background-color: color($colors,secYellow);
        //     margin-top: -1px; 
        //     margin-left: 5px;
        //     float: right;

        // }
       
        .fa-whatsapp  {
            color:#fff;
            
          
          }
          .div-sector{
            float: left;
            margin-top: 5px;
            margin-right: 2%;
            //background-color: aqua;
            width: 100%;

            //margin-left: 20px;
        
          }
          .fab-share{
              margin-top: 7px;
              margin-left: 75%;
            //   display: flex;
            //   justify-content: flex-end;
            //   align-items: flex-end;
              position: absolute;

          }
          .color-sector{
              width: 20px; 
              height: 20px; 
              border-radius: 4px;
              //background-color: var (--cor);
            //   margin-top: -5px; 
              margin-left: 5px;
              float: left;
        
          }
          .sector_name{
            margin-left: 8px;
            margin-top: 2px;
              //position: absolute;
            float: left;
          }
          .secYellow{
              //background-color: color($colors,secYellow);
              border: 1px solid color($colors,secYellow);
            //   border-color: color($colors,secYellow);
              box-shadow: 7px 7px 15px 0px color($colors,secYellow);
          }
          .secGreen{
              //background-color: color($colors,secGreen);
              border: 1px solid color($colors,secGreen);
            //   border-color:color($colors,secGreen);
              box-shadow: 7px 7px 15px 0px color($colors,secGreen);
          }
          .secRed{
              border: 1px solid color($colors,secRed);
            //   border-color:color($colors,secRed);
              box-shadow: 7px 7px 15px 0px color($colors,secRed);
          }
          .secPurple{
            // background-color: color($colors,secPurple);
            border: 1px solid color($colors,secPurple);
            //   border-color:color($colors,secPurple);
              box-shadow: 7px 7px 15px 0px color($colors,secPurple);
          }
          .secBlue{
            // background-color: color($colors,secBlue);
            border: 1px solid color($colors,secBlue);
            //   border-color:color($colors,secBlue);
              box-shadow: 7px 7px 15px 0px color($colors,secBlue);
          }
          .secWhite{
            // background-color: color($colors,secWhite);
              border: 1px solid rgb(214, 214, 214);
              //border-color:color($colors,secWhite);
              box-shadow: 7px 7px 15px 0px rgb(214, 214, 214);
          }
          .borderWhite{
              border: 1px dashed rgba(2, 2, 2, 0.205);
          }
      
    }
}
