<custom-header>

</custom-header>
<!-- <ion-content id="profile" [ngStyle]="{'background-color' : black}"> -->
<ion-content [ngClass]="userDatails.sector_color">

  <ion-card class="profileHeader">

    <ion-card-content class="content-img">

          <img *ngIf="userDatails.prof_img && !dataImagem"  [src]="userDatails.prof_img | showPipe" class="headerImg">
          <img *ngIf="dataImagem"  [src]="dataImagem | showPipe" class="headerImg">
          <img *ngIf="!userDatails.prof_img && !dataImagem" src="../../assets/imgs/nophoto.png" class="headerImg">
     
          <!-- <img *ngIf="userDatails.prof_img" src="data:image/jpeg;base64,{{userDatails.prof_img}}" class="headerImg"> -->
          <!-- <div class="div-edit" >
              <ion-icon name="camera" (click)="openeditprofile()" ></ion-icon>
            </div> -->
    </ion-card-content>

 
  
  </ion-card>

</ion-content>

<!-- {
"protocol": "ftp",
"host": "agesi.com.br",
"port": 21,
"user": "pedroh@agesi.com.br",
"pass": "p3dr0h@",
"promptForPass": false,
"remote": "/",
"local": "",
"secure": false,
"secureOptions": null,
"connTimeout": 10000,
"pasvTimeout": 10000,
"keepalive": 10000,
"watch": [],
"watchTimeout": 500
} -->