<custom-header>
</custom-header>
<ion-content class="content-profile" auto-hide>

  <div class="profileHeader">

    <!-- <ion-card-content class="content-img"> -->
    <div right class="photo" (click)="selectImgFrom('imgProfile')" *ngIf="editPermission">
      <ion-icon name="md-create"></ion-icon>
    </div>
    <img *ngIf="profileDatails.prof_img" [src]="profileDatails.prof_img | showPipe" class="headerImg">
    <img *ngIf="!profileDatails.prof_img" src="../../assets/imgs/nophoto.png" class="headerImg">

    <!-- </ion-card-content> -->
  </div>
  <div class="social">
    <a href="https://www.instagram.com/{{profileDatails.prof_inst}}">
      <div class="">
        <ion-icon name="logo-instagram" class="instagram"></ion-icon>
      </div>
    </a>
    <a href="https://www.facebook.com/{{profileDatails.prof_face}}">
      <div class="outFace">
        <ion-icon class="facebook"></ion-icon>
      </div>
    </a>
    <a href="https://twitter.com/{{profileDatails.prof_tw}}">
      <div class="tw">
        <ion-icon name="logo-twitter" class="twitter"></ion-icon>
      </div>
    </a>
    <a href="https://wa.me/55{{profileDatails.prof_phone}}">
      <div class="whatsApp">
        <ion-icon name="logo-whatsapp" class="fab fa-whatsapp fa-7x" class="twitter"></ion-icon>
      </div>
    </a>

  </div>
  <div class="perfil_name">
    <div class="icon-pin">
      <ion-icon name="pin" class="pin"></ion-icon>
    </div>
    <span>{{profileDatails.prof_address}}</span>
    <span style="margin-left: 20px;">Setor</span>
    <div class="color-sector {{profileDatails.sector_color}}"></div>
  </div>

  <div class="container-newPoste">
    <!-- <div class="div-addPost" *ngIf="addPost" [@visibilityChanged]="addPost ? 'show':'hidden'">
      <div class="addPost" *ngIf="addPost" (click)="toggle()" [@visibilityChanged]="addPost ? 'show':'hidden'">
        <ion-icon name="md-add-circle" *ngIf="addPost" style="font-size: 25px;" [@visibilityChanged]="addPost ? 'show':'hidden'"></ion-icon>
      </div>
    </div> -->

    <!-- Expande para criar o post -->
    <div class="createPost" [@visibilityChanged]="!addPost ? 'show':'hidden'">
      <h6 *ngIf="!imgToPost" [@visibilityChanged]="!addPost && !imgToPost ? 'show':'hidden'">Escolher Imagem:</h6>
      <h6 *ngIf="imgToPost" [@visibilityChanged]="!addPost ? 'show':'hidden'">Click novamente para alterar a
        imagem:</h6>
      <div *ngIf="!addPost" class="iconAdd" [@visibilityChanged]="!addPost ? 'show':'hidden'" (click)="selectImgFrom('imgPost')">

        <label *ngIf="!imgToPost" [@visibilityChanged]="!addPost && !imgToPost ? 'show':'hidden'" style="text-align: center;font-size: 35px; vertical-align: middle; display: table-cell; color: rgba(2, 2, 2, 0.164);">Add
          Imagem</label>
        <img *ngIf="imgToPost" [@visibilityChanged]="imgToPost ? 'show':'hidden'" [src]="imgToPost | showPipe" class="selected_Img">
      </div>
      <div *ngIf="!addPost" class="sendPost" (click)="createPost()" [@visibilityChanged]="!addPost ? 'show':'hidden'">
        <ion-icon [@visibilityChanged]="!addPost ? 'show':'hidden'" name="md-paper-plane" style="font-size: 35px;"></ion-icon>
      </div>
      <div *ngIf="!addPost" class="closePost" (click)="toggle()" [@visibilityChanged]="!addPost ? 'show':'hidden'">
        <ion-icon [@visibilityChanged]="!addPost ? 'show':'hidden'" name="ios-remove-circle-outline" style="font-size: 35px;"></ion-icon>
      </div>
    </div>

    <!-- Exibição de postagens -->
    <div class="posts">
      <ion-card *ngFor="let post of postsDatails" class="card_post">
        <img [src]="post.post_img | showPipe" class="card_img" imageViewer *ngIf="editPermission" (press)="deletePost(post.post_id)">
        <img [src]="post.post_img | showPipe" class="card_img" imageViewer *ngIf="!editPermission">
      </ion-card>
    </div>
    <ion-fab bottom right #fab  *ngIf="editPermission">
      <button ion-fab (click)="toggle()">
        <ion-icon name="ios-create-outline"></ion-icon>
      </button>
    </ion-fab>
  </div>
</ion-content>