page-profile {
    ion-header{
        ion-toolbar{
            .header_logo{
                float: left;
                //margin-left: 10px;
                width: 100px;
                margin-top: auto;
                margin-bottom: auto;

            }
        }
    }
    #profile{
        margin-top: 32px;
        width: 100%;
        height: 100%;
        .profileHeader{
            background-color: blanchedalmond;
            width: 94%;
            height: 150px;
        }
        display: flex;
        align-items: center;
	    justify-content: center;


        .content-img{
            height: 100%; 
            background-image:url(../../assets/imgs/nophoto.png);  
            padding: 0; 
            overflow: hidden; 
            background-size: cover; 
            background-position: center;
        }
        .div-edit{
            background-color: bisque; 
            width: 30px;
            height: 30px;
            float: right;
            //margin-top: 115px;
            margin-right: 5px;
            text-align: center;
            vertical-align: middle;
            padding-top:7px;
            border-radius: 20px;
        }
        ion-card-content{
            img{
                vertical-align: middle;
                text-align: center;
                // margin-left: auto!important;
                // margin-right: auto!important;
                width: 100%;

            }
        }
    }

    ion-content.secYellow{
        //margin-top: 40px;
        position: relative;
        width: 100%;
        height: 100%;
        background-image:linear-gradient(-90deg,color($colors,secYellow) , rgba(255, 208, 0, 0.294)) ;
        //background-color: color($colors,secYellow)!important;
        margin-bottom: 50px;
        align-items: center;
	    justify-content: center;
        //margin: 150px;

        .profileHeader{
            margin-top: 55px;
            position: relative;
            width: 100%;
            height: 10em;
            margin-left: 0px;
            -webkit-box-shadow: 0px 12px 25px -11px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 12px 25px -11px rgba(0,0,0,0.75);
            box-shadow: 0px 12px 25px -11px rgba(0,0,0,0.75);
        }

    
        // .profileHeader:hover .overlay{
        //     display: block;
        //     background: rgba(0, 0, 0, .5);
        // }
        
        .content-img{
            height: 100%; 
            padding: 0; 
            position: relative;
            
        }
        .headerImg{
            
            object-fit: cover;
            height: 100%;
        }
        .photo{
            background-color: rgba(255, 255, 255, 0.548); 
            // opacity: 1;
            width: 30px;
            height: 30px;
            margin-top: 106px;
            margin-left: 90%;
            text-align: center;
            vertical-align: middle;
            padding-top:7px;
            border-radius: 20px;
            //border-top-left-radius: 10px;
            position: absolute;
            
            
            // transition: opacity .35s ease;
        }
        .div-addPost{
            border: 2px dashed rgba(2, 2, 2, 0.205);
            width: 100%; 
            height: 40px; 
 
        }
        .addPost{
            margin-left: 85px;
            float: left;
            margin-top: 4px;
            position: absolute;
        }
        .div-h6{
            margin-left: 10px;
            margin-top: -8px;
            //width: 70px;
            float: left;
            position: absolute;
        }
        .createPost{
            width: 100%;
            height: 300px;
            border: 2px dashed rgba(2, 2, 2, 0.205);
            padding-left: 10px;
            padding-right: 10px;
            //padding-bottom: 0px;
            //padding-top: 0px;
         }
        .iconAdd{
            display: table;
            
            width: 100%;
            height: 64%;
            //padding: 25px;
            // margin-top: auto;
            // margin-bottom: auto; 
            // margin-left: auto;
            // margin-right: auto;
            //margin-top: 10px;
            //border: 1px;
            border: 2px dashed rgba(2, 2, 2, 0.205);
            background-color: rgba(2, 2, 2, 0.103);
            padding-bottom: 0px;
        }
        .sendPost{
            float: right;
            margin-top: 5px;

        }
        .closePost{
            float: left;
            margin-top: 5px;

        }
        .container-newPoste{
            padding: 10px;
            margin-top: -10px;
            //background-color: white;

        }
        .selected_Img{
            object-fit: cover;
            width: 88.5%;
            height: 185px;
            // margin-left: 10px;
            float: left;
            position: absolute;
        }
        .posts{
            margin-top:10px;
            padding-top: 10px;
            padding-bottom: 10px;
            // padding: 5px;
            width: 100%;
            background-color: rgba(2, 2, 2, 0.103);

        }
        .card_post{
            //width: 100%;
            height: 200px;
            padding: 10px;
            -webkit-box-shadow: 0px 12px 25px -11px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 12px 25px -11px rgba(0,0,0,0.75);
            box-shadow: 0px 12px 25px -11px rgba(0,0,0,0.75);
            margin-bottom: 20px;
        }
        .card_img{
            width: 100%;
            height: 150px;
            object-fit: cover;
        }
    }
}
