<custom-header>

</custom-header>
<ion-content [ngClass]="userDatails.sector_color" auto-hide>

  <ion-card class="profileHeader">

    <ion-card-content class="content-img">
      <div class="photo" (click)="selectImgFrom('imgProfile')">
        <ion-icon name="md-create"></ion-icon>
      </div>
      <img *ngIf="userDatails.prof_img" [src]="userDatails.prof_img | showPipe" class="headerImg">
      <img *ngIf="!userDatails.prof_img" src="../../assets/imgs/nophoto.png" class="headerImg">

    </ion-card-content>
  </ion-card>
  <div class="container-newPoste">
    <!-- <div class="div-addPost" *ngIf="addPost" [@visibilityChanged]="addPost ? 'show':'hidden'">
      <div class="addPost" *ngIf="addPost" (click)="toggle()" [@visibilityChanged]="addPost ? 'show':'hidden'">
        <ion-icon name="md-add-circle" *ngIf="addPost" style="font-size: 25px;" [@visibilityChanged]="addPost ? 'show':'hidden'"></ion-icon>
      </div>
    </div> -->

    <!-- Expande para criar o post -->
    <div class="createPost" [@visibilityChanged]="!addPost ? 'show':'hidden'">
      <h6 *ngIf="!imgToPost" [@visibilityChanged]="!addPost && !imgToPost ? 'show':'hidden'">Add Imagem:</h6>
      <h6 *ngIf="imgToPost" [@visibilityChanged]="!addPost ? 'show':'hidden'">Pressione novamente caso deseje alterar a imagem:</h6>
      <div class="iconAdd" [@visibilityChanged]="!addPost ? 'show':'hidden'" (click)="selectImgFrom('imgPost')">

        <ion-icon *ngIf="!imgToPost" [@visibilityChanged]="!addPost && !imgToPost ? 'show':'hidden'" name="ios-add-circle-outline"
          style="text-align: center;font-size: 55px; vertical-align: middle; display: table-cell; color: rgba(2, 2, 2, 0.164);"></ion-icon>
        <img *ngIf="imgToPost" [@visibilityChanged]="imgToPost ? 'show':'hidden'" [src]="imgToPost | showPipe" class="selected_Img">
      </div>
      <div *ngIf="!addPost" class="sendPost" (click)="createPost()" [@visibilityChanged]="!addPost ? 'show':'hidden'">
        <ion-icon [@visibilityChanged]="!addPost ? 'show':'hidden'" name="md-paper-plane" style="font-size: 35px;"></ion-icon>
      </div>
      <div *ngIf="!addPost" class="closePost" (click)="toggle()" [@visibilityChanged]="!addPost ? 'show':'hidden'">
        <ion-icon [@visibilityChanged]="!addPost ? 'show':'hidden'" name="ios-remove-circle-outline" style="font-size: 35px;"></ion-icon>
      </div>
    </div>

    <!-- Exibição de postagens -->
    <div class="posts" >
        <ion-card *ngFor="let post of postsDatails" class="card_post">
          <img [src]="post.post_img | showPipe" class="card_img">
        </ion-card>
    </div>
  </div>
<ion-fab bottom right #fab>
  <button ion-fab  (click)="toggle()">
    <ion-icon name="ios-create-outline"></ion-icon> 
  </button>
</ion-fab>

</ion-content>