page-profile {
     #profile{
        
        width: 100%;
        height: 100%;
 
        //display: flex;
        
        .profileHeader{
            //position: relative;
            //background-color: blanchedalmond;
            width: 94%;
            height: 150px;
            margin-top: 10px;
        }


        .content-img{
            height: 100%; 
            background-image:url(../../assets/imgs/nophoto.png);  
            padding: 0; 
            overflow: hidden; 
            background-size: cover; 
            background-position: center;
        }
        .div-edit{
            background-color: bisque; 
            width: 30px;
            height: 30px;
            float: right;
            //margin-top: 115px;
            margin-right: 5px;
            text-align: center;
            vertical-align: middle;
            padding-top:7px;
            border-radius: 20px;
        }
        ion-card-content{
            img{
                vertical-align: middle;
                text-align: center;
                // margin-left: auto!important;
                // margin-right: auto!important;
                width: 100%;

            }
        }
    }

    .content-profile{
        width: 100%;
        height: 100%;
        background-color: #e4e4e4;
        margin-bottom: 150px;
        align-items: center;
	    justify-content: center;
        //margin: 150px;
        position: relative!important;

        .profileHeader{
            margin-top: 10px;
            //position: relative;
            width: 100%;
            height: 140px;
            margin-left: 0px;
            // -webkit-box-shadow: 0px 12px 25px -11px rgba(0,0,0,0.75);
            // -moz-box-shadow: 0px 12px 25px -11px rgba(0,0,0,0.75);
            // box-shadow: 0px 12px 25px -11px rgba(0,0,0,0.75);
        }
        // .content-img{
        //     height: 145px; 
            
        //     padding: 0; 

        //     position: relative;
            
        // }
        .headerImg{
            //object-position: center center;
            // display: block;
            // overflow: hidden;
            // height: 200%;
            // width: 100%;
            // object-fit: cover;
            // text-align: right;

            object-fit: cover;
            width: 100%;
            height: 140px;
        }
        .photo{
            background-color: rgba(255, 255, 255, 0.301); 
            // opacity: 1;
            width: 30px;
            height: 30px;
            margin: 5px;
            
            // margin-left: 95%;
            text-align: center;
            vertical-align: middle;
            padding-top:7px;
            border-radius: 20px;
            //border-top-left-radius: 10px;
            position: absolute;


        }
        .social{
            margin-top:2px;
            // background-color: rgba(247, 247, 247, 0.089);
            // background-color: color($colors,secYellow);
            // background: -moz-linear-gradient(left, rgba(251, 228, 152, 0) 0%, rgba(255, 204, 0, 0) 50%, rgb(255, 217, 93) 100%);
            // background: -webkit-gradient(left top, right top, color-stop(0%, rgba(251, 228, 152, 0)), color-stop(50%, rgba(255,204,0,1)), color-stop(100%, rgba(251,228,152,1)));
            // background: -webkit-linear-gradient(left, rgba(251, 228, 152, 0) 0%, rgba(255, 204, 0, 0) 50%, rgb(255, 216, 87) 100%);
            // background: -o-linear-gradient(left, rgba(251, 228, 152, 0) 0%, rgba(255, 204, 0, 0) 50%, rgb(255, 207, 50) 100%);
            // background: -ms-linear-gradient(left, rgba(251, 228, 152, 0) 0%, rgba(255, 204, 0, 0) 50%, rgb(255, 212, 69) 100%);
            // background: linear-gradient(to right, rgba(251, 228, 152, 0) 0%, rgba(255, 204, 0, 0.205) 50%, rgb(255, 214, 81) 100%);
            // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbe498', endColorstr='#fbe498', GradientType=1 );
            
            width: 100%; 
            height: 40px; 
            padding: 6px;

        }
        .instagram{
            float: left;
            //display: inline-block;
            width: 30px;
            height: 30px;
            text-align: center;
            border-radius: 10px;
            color: #fff;
            // font-size: 220px;
            line-height: 31px;
            vertical-align: middle;
            background: #d6249f;
            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
            box-shadow: 0px 3px 10px rgba(0,0,0,.25);
            font-size: 25px;
            margin-right: 10px;
            -webkit-box-shadow: 0px 12px 25px -11px rgba(0,0,0,1);
            -moz-box-shadow: 0px 12px 25px -11px rgba(0,0,0,1);
            box-shadow: 0px 12px 25px -11px rgba(0,0,0,1);
        }

        .outFace{
            background-color: #43609C; 
            padding-top: 4px;
            padding-left: 4px;
            //text-align: center;
            width: 30px;
            height: 30px;
            //display: block;
            float: left;
            border-radius: 12%;
            margin-right: 10px;
            -webkit-box-shadow: 0px 12px 25px -11px rgba(0,0,0,1);
            -moz-box-shadow: 0px 12px 25px -11px rgba(0,0,0,1);
            box-shadow: 0px 12px 25px -11px rgba(0,0,0,1);

        }
        .facebook{
            background: #fff;
            border-radius: 9%;
            //display: block;
            position: absolute;
            height: 22px;
            //margin: px 0 0 -49px;
            //position: absolute;
            //top: 50%;
            width: 22px; 
            padding-top: 5px;
        }
        .facebook:after {
            color: #43609C;
            content: "f";
            //display: block;
            font-family: Facebook Letter Faces, Arial;
            font-size: 25px;
            font-weight: bold;
            margin-left: 50%;
            //margin-top: 22px; 
            width: 45px;
        }
        .tw{
            text-align: center;
            padding-top: 3px;
            width: 30px;
            height: 30px;
            background-color:  #2daae1;
            border-radius: 5px;
            float: left;
            margin-right: 10px;
            -webkit-box-shadow: 0px 12px 25px -11px rgba(0,0,0,1);
            -moz-box-shadow: 0px 12px 25px -11px rgba(0,0,0,1);
            box-shadow: 0px 12px 25px -11px rgba(0,0,0,1);

        }
        .twitter{
            color: white;
            font-size: 24px;
        }
        .perfil_name{
            font-size: 15px;
            float: left;
            margin: 10px;
            
        }
        .div-h6{
            margin-left: 10px;
            margin-top: -8px;
            //width: 70px;
            float: left;
            position: absolute;
        }
        .createPost{
            width: 100%;
            height: 300px;
            border: 2px dashed rgba(2, 2, 2, 0.205);
            padding-left: 10px;
            padding-right: 10px;
            //padding-bottom: 0px;
            //padding-top: 0px;
            margin-top: 40px;
         }
        .iconAdd{
            display: table;
            width: 100%;
            height: 64%;
            //border: 2px dashed rgba(2, 2, 2, 0.205);
            background-color: rgba(2, 2, 2, 0.103);
            padding-bottom: 0px;
            -webkit-box-shadow: 0px 12px 25px -11px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 12px 25px -11px rgba(0,0,0,0.75);
            box-shadow: 0px 12px 25px -11px rgba(0,0,0,0.75);
        }
        .sendPost{
            float: right;
            margin-top: 10px;
            

        }
        .closePost{
            float: left;
            margin-top: 10px;

        }
        .container-newPoste{
            padding: 10px;
            margin-top: -10px;
            //background-color: white;

        }
        .selected_Img{
            object-fit: cover;
            width: 100%;
            height: 100%;

        }

        .posts{
            column-count: 2;
            //margin-top:-10px;
            padding-top: 10px;
            //padding-bottom: 10px;
            padding-left: 0px;
            // padding: 5px;
            width: 100%;
            //background-color: rgba(2, 2, 2, 0.103);
            padding-right: 10px;
            margin-bottom: 10px;
        }

        .card_post{
            margin-top: 0px;
            margin-bottom: 10px;
            // width: 100%;
            // background-color: color($colors,secYellow);
            // background: -moz-linear-gradient(left, rgba(251,228,152,1) 0%, rgba(255,204,0,1) 50%, rgba(251,228,152,1) 100%);
            // background: -webkit-gradient(left top, right top, color-stop(0%, rgba(251,228,152,1)), color-stop(50%, rgba(255,204,0,1)), color-stop(100%, rgba(251,228,152,1)));
            // background: -webkit-linear-gradient(left, rgba(251,228,152,1) 0%, rgba(255,204,0,1) 50%, rgba(251,228,152,1) 100%);
            // background: -o-linear-gradient(left, rgba(251,228,152,1) 0%, rgba(255,204,0,1) 50%, rgba(251,228,152,1) 100%);
            // background: -ms-linear-gradient(left, rgba(251,228,152,1) 0%, rgba(255,204,0,1) 50%, rgba(251,228,152,1) 100%);
            // background: linear-gradient(to right, rgba(251,228,152,1) 0%, rgba(255,204,0,1) 50%, rgba(251,228,152,1) 100%);
            // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbe498', endColorstr='#fbe498', GradientType=1 );
            margin-left: 0px;
            width: 105%;
            // height: 240px;
            // padding-top: 5px;
            // padding-left: 10px;
            // padding-right: 10px;
            -webkit-box-shadow: 0px 12px 25px -11px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 12px 25px -11px rgba(0,0,0,0.75);
            box-shadow: 0px 12px 25px -11px rgba(0,0,0,0.75);
            // margin-bottom: 20px;
            // margin-left:0px;
            
        }
        .card_img{
            //width: 400px;
            max-height: 150px;
            object-fit: cover;
            //position: relative;
        }
        .content-card{
            width: 100%;
            padding-left: 5px;
            background-color: rgb(255, 255, 255);
            height: 35px;
            padding-top: 8px;
            
        }
        .profileName{
            float: left;
            //position: relative;
            //margin-top: -150px;
            font-size: 25px;
            margin-bottom: 10px;
            
        }
        .trash{
            position: absolute;
            float: right;
            margin:5px;
            
        }
        .icon-pin{
            width: 30px;
            height: 30px;
            border-radius: 20px;
            float: left;
            background-color: rgba(223, 157, 157, 0.178);
            padding-top: 3px;
            padding-left: 8px;
            margin-top: -6px;
            margin-right: 5px;
        }
        .pin{
            color: red;
            float: left;
            font-size: 24px;
        }
        .div-sector{
            float: left;
            margin-right: 10px;
            //width: 60px;
        }
        .color-sector{
            width: 20px; 
            height: 20px; 
            border-radius: 20px;
            //background-color: color($colors,secYellow);
            margin-top: -1px; 
            margin-left: 5px;
            float: right;

        }
        .whatsApp{
            width: 30px;
            height: 30px;
            float: left;
            background-color: #25d366;
            border-radius: 5px;
            padding-top: 3px;
            padding-left: 5px;
            margin-right: 10px;
            -webkit-box-shadow: 0px 12px 25px -11px rgba(0, 0, 0, 1);
            -moz-box-shadow: 0px 12px 25px -11px rgba(0,0,0,1);
            box-shadow: 0px 12px 25px -11px rgba(0,0,0,1);
        }
        .fa-whatsapp  {
            color:#fff;
            
          
          }
        .secYellow{
            background-color: color($colors,secYellow);
        }
        .secGreen{
            background-color: color($colors,secGreen);
        }
        .secRed{
            background-color: color($colors,secRed);
        }
        .secPurple{
            background-color: color($colors,secPurple);
        }
        .secBlue{
            background-color: color($colors,secBlue);
        }
        .secWhite{
            background-color: color($colors,secWhite);
        }
      
    }
}
