<ion-header>
  <ion-toolbar>
    <!-- <button ion-button style="float: left; background-color: white; color: steelblue;" icon-only (click)="goBack()">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </button > -->
    <button ion-button menuToggle right icon-only persistent="true">
        <ion-icon name="menu"></ion-icon>
    </button>
      <img class="header_logo" src="assets/imgs/cf_index_logo.png" (click)="goBack()">


    <!-- <ion-icon name="contact" *ngIf="userDatails">

    </ion-icon>
    {{userDatails.client_name}} -->
  </ion-toolbar>
</ion-header>