
    .header_logo{
        margin-left: 10px;
        float: right;
        width: 150px;
        margin-top: auto;
        margin-bottom: auto;
    }
    .icon{
        size: 80px;
    }
    .icon-back{
        float: left;
        font-size: 35px;
        height: 100%;
        margin-top: 2%;
        margin-left: 10px;
        margin-right: 10px;
    }

