.ionheader{
        
    position: initial!important;
    box-shadow: 1px 11px 31px -5px rgba(0,0,0,0.67);
    height: 6%;
    min-height: 6%;
    background-color: black;
}
.toolbar-md{
    min-height: 6%;
}
.div_header_logo{
    position: absolute;
    height: 100%;
}
.header_logo{
    margin-top:0.5%;
    height: 90%;
    //margin-bottom: 1%;
    vertical-align: middle;
}
.toolbar{
    padding: 0px;

    height: 100%;
    
}
.toolbar-ios{
    padding: 5px;
    height: 100%;
}
.toolbar-content{
    height: 100%;
}
.toolbar-content-ios{
    height: 100%;
}
.div-icon-back{
    float: left;
    font-size: 35px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px;
    
    
}
.icon-back{
    //margin-left: 10px;
    vertical-align: middle;
    margin-left: 3%;
    margin-right: 2%;
    font-size: 35px;
    
}