.scroll-content {
    padding-bottom: 0px !important;
    
  }
page-welcome {
    
    #map_canvas{
        height: 50%;
    }
    #welcome{
        background: linear-gradient(225deg, rgb(241, 241, 241) 10%, rgba(50, 157, 165, 0.548) 100%, #F0F0F0 100%);
        width: 100%;
        height: 100%;
        .imgUser{
            float: left;
            border-radius: 30px;
            margin-right: 10px;
        }
        .mid_align{
            //margin-bottom: 60%;
            margin-top: 50%;
            //display: block;
            background-color: rgba(255, 255, 255, 0.459);
            border-radius: 3px;
            padding: 10px;
        }
        .mid_logo{
            margin-top: 50%;
            text-align: center;
        }
        .back_logo{
            position: relative;           
            height: 200px;
            margin-top: auto;
            margin-bottom: auto;
        }
        .welcome_logo{
            position: relative;           
            height: 100px;
            margin-top: auto;
            margin-bottom: auto;
        }
        .menu{
            padding: 10px;
            float: right;
            width: 100%;
            
        }
        .button{
            float: right;
            background-color: rgba(50, 157, 165, 0.548);
            //box-shadow: 10px 14px 20px 1px rgba(0, 0, 0, 0.274);
            color: white;
        }
        .tag_name{
            margin-top:30px;
            //width: 100%;
            float: left;
            color: rgb(0, 0, 0);
            //text-align: right;
            //background-color: rgb(224, 185, 167);
        }
        .login{
            font-size: 25px;
            //color: rgb(243, 213, 199);
            float: right;
        }
        .sign-in{
            margin-top:3px;
            float: right;
            margin-right: 15px;
            color:rgb(243, 213, 199);
        }
        .span-sign-in{
            font-size: 15px;
            color: rgb(243, 213, 199);
            float: right;
            margin-top: 3px;
            margin-left: 5px;
        }
        .span-log-in{
            font-size: 15px;
            color: rgb(243, 213, 199);
            float: right;
            margin-top: 5px;
            margin-left: 5px;
        }
        .icon-sign-in{
            font-size: 25px;
            color: rgb(243, 213, 199);
        }
        .logout{
            font-size: 25px;
            //color: rgb(243, 213, 199);
            float: right;
        }
        .span-log-out{
            font-size: 15px;
            color: rgb(243, 213, 199);
            float: right;
            margin-top: 5px;
            margin-left: 5px;
        }
        .icon-logout{
            font-size: 25px;
            color: rgb(243, 213, 199);
        }


    }

   

}

.alert-wrapper{
    border-radius: 0px;
    background-color: antiquewhite;
}
.alert-head{
    text-align: left;
    padding: 0;
    margin: 0px;
}
.alert-title{
    margin-top: -10px;
    float: left;
    height: 20px;
}
.alert-button-group .alert-button{
    background-color: #3b5998;
    color: white;
  }
  .modalLogin .modalContent{
      width: 100px;
      height: 300px;
  }
