
page-centro-fashion {
    .scroll-content{
        height: 94%;
        padding: 16px !important;
    }

           
        .searchbar-search-icon{
            margin-top: 0px;
     
        }
        .config-bar{
            
            position: relative;
            z-index: 2;
            width: 100%;
            padding: 6px;
            padding-top:18px;
            padding-bottom:10px;
            //margin-bottom: 10px;
            background: rgba(162, 181, 182, 0.548);
            //background: linear-gradient(45deg, rgb(241, 241, 241) 10%, rgba(50, 157, 165, 0.548) 100%, #F0F0F0 100%);
            //background-image: url('../../assets/imgs/background-pastel.jpg');
            box-shadow: 2px 6px 15px 1px rgba(0,0,0,0.34);
            
        }
        .div-filter{
            margin-top: -15px;
            width: 100%;
            height: 45px;
            font-size: 15px;
            margin-right: 20px;
  
        }
        .span-filter{
            margin-left:5px;
            margin-right: 10px;
            margin-top:13px;
            //margin-bottom: auto;
            float: left;
            
        }
        .ion-searchbar{
            border-radius: 20px;
            position: relative;
            padding-left: 2px;
            padding-right: 2px;
            //padding-top: 11px;
            //position: relative;
            //border-radius: 5px;
            width: 100%;
            padding-bottom: 5px;
            margin-top:5px;
            //border: 1px solid rgba(2, 2, 2, 0.205);
            margin-bottom: 30px;
            
        }
        .search-list{
            //border-radius: 20px;
            margin-top: 50px;
            position: absolute!important;
            z-index: 6;
            width: 96.6%;
            margin-left:1.6%;
            box-shadow: 2px 6px 15px 1px rgba(0,0,0,0.34);
        }
        .select_profile{
            border-radius: 0px;
        }
        .searchbar-input-container{
            position: absolute;
            margin-left:-2px;
        }
        .sector_filter{
            margin-left: 5px;
            border-radius: 20px;
            float: left;
            padding-left: 0px;
            width: 24%;
            max-width: 30%;
            //margin-right:10px; 
            box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.16);
            opacity: 0.8;
        }
        .category_filter{
            opacity: 0.8;
            border-radius: 20px;
            //margin-right: 12px;
            float: left;
            padding-left: 0px;
            width: 35%;
            box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.16);
        }
        .seletor_category{
            background-color: rgb(255, 255, 255);
            max-width: 100%;
            width: 100%;
        }
        .seletor_setor{
            float: left;
            width: 100%;
            max-width: 100%;
            background-color: rgb(255, 255, 255);
        }
        .div-ok{
            float: left;
            height: 30px;
            width: 30px;
            border-radius: 20px;
            box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.16);
            margin-top:7px;
            margin-left:10px;
        }
        .ion-fab{
            opacity: 0.5; 
            //background-color: rgb(255, 255, 255);
            padding: 3px;
            width: 80px;
            position: absolute;
            margin-left: 5px;
            height: 25px;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 10px;
            margin-top:5px;
        }
         
         .centroFashion{
            //padding-top: 0px;
            position: relative!important;
            padding: 0px;
            background-color: rgb(228, 239, 240);
            //background: linear-gradient(225deg, rgb(241, 241, 241) 10%, rgba(50, 157, 165, 0.548) 100%, #F0F0F0 100%);
            //background-image: url('../../assets/imgs/background-pastel.jpg');
            .ion-fixed {
                width: 100%;
                
            }
            .balloon{
                position: absolute;
                z-index: 6;
                width: 30%;
                //margin-top: px;
                margin-left: 50%;
                right: 0;
                float: right;
            }
            .refresher{
                //margin-left:-15px;
                background-color: white;
            }

            .select{
                z-index: 6px;
            }
            .posts{
                position: relative!important;
                padding-bottom: 10px;
                padding-left: 0px;
                width: 100%;
            }
            .card_post{
                border-radius: 3px;
                width: 100%;
                height: 295px;
                box-shadow: 2px 6px 15px 1px rgba(0,0,0,0.34);
                margin-bottom: 30px;
                background-color: rgba(248, 248, 248, 0.603);

            }
            .card_img{
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                width: 100%;
                height: 170px;
                object-fit: cover;

                //position: relative;
            }
            .content-card{
                width: 100%;
                padding-left: -5px;
                //background-color: rgba(255, 255, 255, 0.336);
                height: 100px;
                margin-top: -4px;
                padding: 10px;
            }
      
            .profileName{
                //background-color: aquamarine;
                position: relative;
                font-size: 25px;
                margin-bottom: 5px;
                margin-top: -5px;

            }
            .favorite_uncheck{
                //float: right;
                font-size: 30px;
                color: rgb(189, 189, 189);
                margin-top: -50px; 
                margin-left: 4px;  
                position: absolute;
            }
            .favorite_check{
                //float: right;
                font-size: 30px;
                color: rgb(255, 166, 0);
                margin-top: -50px; 
                margin-left: 4px; 
                position: absolute;
            }
            .flag_bookmark{
                
                float: right;
                font-size: 60px;
                margin-top: -15px;
                 //position: absolute;
                color: rgb(209, 209, 209);
                //box-shadow: 2px 6px 15px 1px rgba(0,0,0,0.34);
            }
            .inst{
                margin-bottom: 10px;
            }
            .infor{
                //background-color: aquamarine;
                float: right;
                width: 100%;
                //margin-right: -15px;
            }
            .icon-pin{
                width: 30px;
                height: 30px;
                border-radius: 20px;
                float: left;
                background-color: rgba(223, 157, 157, 0.178);
                padding-top: 3px;
                //padding-left: 8px;
                margin-top: -5px;
                margin-right: 5px;
            }
            .pin{
                color: red;
                float: left;
                font-size: 24px;
                margin-left: 8px;
            }
            .div-sector{
                float: right;
                margin-right: 0px;
                //background-color: aqua;
                //width: 100%;
                margin-top: 0px;
            
              }
              .color-sector{
                  width: 20px; 
                  height: 20px; 
                  border-radius: 4px;
                  //background-color: var (--cor);
                //   margin-top: -5px; 
                  margin-left: 5px;
                  float: left;
            
              }
              .sector_name{
                  margin-left: 5px;
                  margin-top: 3px;
                  //position: absolute;
                  float: right;
              }
              .secYellow{
                  //background-color: color($colors,secYellow);
                  border: 1px solid color($colors,secYellow);
                //   border-color: color($colors,secYellow);
                  box-shadow: 7px 7px 15px 0px color($colors,secYellow);
              }
              .secGreen{
                  //background-color: color($colors,secGreen);
                  border: 1px solid color($colors,secGreen);
                //   border-color:color($colors,secGreen);
                  box-shadow: 7px 7px 15px 0px color($colors,secGreen);
              }
              .secRed{
                  border: 1px solid color($colors,secRed);
                //   border-color:color($colors,secRed);
                  box-shadow: 7px 7px 15px 0px color($colors,secRed);
              }
              .secPurple{
                // background-color: color($colors,secPurple);
                border: 1px solid color($colors,secPurple);
                //   border-color:color($colors,secPurple);
                  box-shadow: 7px 7px 15px 0px color($colors,secPurple);
              }
              .secBlue{
                // background-color: color($colors,secBlue);
                border: 1px solid color($colors,secBlue);
                //   border-color:color($colors,secBlue);
                  box-shadow: 7px 7px 15px 0px color($colors,secBlue);
              }
              .secWhite{
                // background-color: color($colors,secWhite);
                  border: 10px solid rgb(255, 255, 255);
                  //border-color:color($colors,secWhite);
                  box-shadow: 7px 7px 15px 0px rgb(255, 255, 255);
              }
              .borderWhite{
                  border: 1px dashed rgb(255, 255, 255);
              }
        
        }//Fim centroFashion
        // .fab-bookmark{
        //     width: 40px; 
        //     height: 40px; 
        //     border-radius: 10px; 
        //     background-color: rgb(255, 166, 0); 
        //     margin-left: -15px;
        //     box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.34);
        // }

}
