page-centro-fashion {
        :root{
            --secYellow: color($colors,secYellow);

        }

        .searchbar-search-icon{
            margin-top: 0px;
     
        }
        .config-bar{
            
            position: relative;
            width: 100%;
            padding: 6px;
            padding-top:18px;
            padding-bottom:10px;
            background: #F0F0F0;
            background: linear-gradient(45deg, #F0F0F0 0%, rgb(126, 114, 117) 100%, #F0F0F0 100%);
            
        }
        .div-filter{
            margin-top: -15px;
            width: 100%;
            height: 45px;
            font-size: 15px;
            margin-right: 20px;
  
        }
        .span-filter{
            margin-left:5px;
            margin-right: 10px;
            margin-top:13px;
            //margin-bottom: auto;
            float: left;
            
        }
        .ion-searchbar{
            border-radius: 20px;
            position: relative;
            padding-left: 2px;
            padding-right: 2px;
            //padding-top: 11px;
            //position: relative;
            //border-radius: 5px;
            width: 100%;
            padding-bottom: 5px;
            margin-top:5px;
            //border: 1px solid rgba(2, 2, 2, 0.205);
            margin-bottom: 30px;
            
        }
        .search-list{
            border-radius: 20px;
            margin-top: 50px;
            position: absolute!important;
            z-index: 6;
            width: 96%;
            margin-left:2%;
            box-shadow: 2px 6px 15px 1px rgba(0,0,0,0.34);
        }
        .searchbar-input-container{
            position: absolute;
            margin-left:-2px;
        }
        .sector_filter{
            margin-left: 5px;
            border-radius: 20px;
            float: left;
            padding-left: 0px;
            width: 24%;
            max-width: 30%;
            //margin-right:10px; 
            box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.16);
            opacity: 0.8;
        }
        .category_filter{
            opacity: 0.8;
            border-radius: 20px;
            //margin-right: 12px;
            float: left;
            padding-left: 0px;
            width: 35%;
            box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.16);
        }
        .seletor_category{
            background-color: rgb(255, 255, 255);
            max-width: 100%;
            width: 100%;
        }
        .seletor_setor{
            float: left;
            width: 100%;
            max-width: 100%;
            background-color: rgb(255, 255, 255);
        }
        .div-ok{
            float: left;
            height: 30px;
            width: 30px;
            border-radius: 20px;
            background-color: rgb(126, 149, 185);
            box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.16);
            margin-top:7px;
            margin-left:10px;
        }
        .ion-fab{
            opacity: 0.5; 
            //background-color: rgb(255, 255, 255);
            padding: 3px;
            width: 80px;
            position: absolute;
            margin-left: 5px;
            height: 25px;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 10px;
            margin-top:5px;
        }
         
         #centroFashion{
            padding-top: 0px;
            position: relative!important;
            background: rgb(172, 163, 165);

            .ion-fixed {
                width: 100%;
            }
            //width: 100%;
            .balloon{
                position: absolute;
                z-index: 6;
                width: 30%;
                //margin-top: px;
                margin-left: 50%;
                right: 0;
                float: right;
            }
            .refresher{
                //margin-left:-15px;
                background-color: white;
            }
            // .scroll-content{
            //     height: 75%;
            //     padding: 5%;
            // }
            // .fixed-content{
            //     height: 75%;
                

            // }
            .posts{
                position: relative!important;
                margin-top:25px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 0px;
                width: 100%;
            }
            .card_post{
                
                //padding: 15px;
                
                border-radius: 3px;
                width: 100%;
                height: 270px;
                //padding-top: 0px;
                box-shadow: 2px 6px 15px 1px rgba(0,0,0,0.34);
                margin-bottom: 30px;
                //margin-left:-16px;
                //background-color: rgb(248, 248, 248);
                background: linear-gradient(125deg, #F0F0F0 0%, rgb(224, 224, 224) 75%, #F0F0F0 100%);

            }
            .card_img{
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                width: 100%;
                height: 170px;
                object-fit: cover;

                //position: relative;
            }
            .content-card{
                width: 100%;
                padding-left: -5px;
                //background-color: rgba(255, 255, 255, 0.336);
                height: 100px;
                margin-top: -4px;
                padding: 10px;
            }
      
            .profileName{
                position: relative;
                font-size: 25px;
                margin-bottom: 5px;
                margin-top: -5px;
            }
            .inst{
                margin-bottom: 10px;
            }
            .infor{
                float: right;
                margin-right: -15px;
            }
            .icon-pin{
                width: 30px;
                height: 30px;
                border-radius: 20px;
                float: left;
                background-color: rgba(223, 157, 157, 0.178);
                padding-top: 3px;
                padding-left: 8px;
                margin-top: -5px;
                margin-right: 5px;
            }
            .pin{
                color: red;
                float: left;
                font-size: 24px;
            }
            .div-sector{
                float: left;
                margin-right: 20px;
                //width: 60px;
                margin-left: 20px;

            }
            .color-sector{
                width: 20px; 
                height: 20px; 
                border-radius: 4px;
                //background-color: var (--cor);
                margin-top: -5px; 
                margin-left: 5px;
                float: left;
    
            }
            .secYellow{
                //background-color: color($colors,secYellow);
                border: 5px solid color($colors,secYellow);
                border-color: color($colors,secYellow);
                box-shadow: 10px 14px 10px 2px color($colors,secYellow);
            }
            .secGreen{
                //background-color: color($colors,secGreen);
                border: 5px solid color($colors,secGreen);
                border-color:color($colors,secGreen);
                box-shadow: 10px 14px 10px 2px color($colors,secGreen);
            }
            .secRed{
                border: 5px solid color($colors,secRed);
                border-color:color($colors,secRed);
                box-shadow: 10px 14px 10px 2px color($colors,secRed);
            }
            .secPurple{
               // background-color: color($colors,secPurple);
               border: 5px solid color($colors,secPurple);
                border-color:color($colors,secPurple);
                box-shadow: 10px 14px 10px 2px color($colors,secPurple);
            }
            .secBlue{
               // background-color: color($colors,secBlue);
               border: 5px solid color($colors,secBlue);
                border-color:color($colors,secBlue);
                box-shadow: 10px 14px 10px 2px color($colors,secBlue);
            }
            .secWhite{
               // background-color: color($colors,secWhite);
               border: 5px solid color($colors,secWhite);
                border-color:color($colors,secWhite);
                box-shadow: 10px 14px 10px 2px rgb(219, 219, 219);
            }
            .borderWhite{
                border: 1px dashed rgba(2, 2, 2, 0.205);
            }
       
            .infiniteScroll{
                background-color: white;
                
            }

        }//Fim centroFashion
}
