<custom-header>
</custom-header>
<ion-content padding id="signup">
  <!-- <button ion-button class="back" (click)="back_home()">Back</button> -->
  <!-- <div style=" width: 100%;">
    <img class="logo_system" [src]="userDatails.user_img">
    <hr>
  </div> -->
  <div class="div-message" *ngIf="!clientFlag">
    <span>
      Olá, {{userDatails.user_firstname}} , antes de criar o perfil da sua loja precisamos realizar um cadastro mais
      completo. <br>
      Lembre-se: só é permitido o cadastro de uma loja por CPF.
    </span>
  </div>
  <div class="loginCenter">
    <h3 *ngIf="!clientFlag">Cadastro</h3>
    <h3 *ngIf="clientFlag">Editar Cadastro</h3>

    <!-- <form #singupForm="ngForm" (ngSubmit)="signUp()"> -->
    <form [formGroup]="formSignup" novalidate (ngSubmit)="signUp()">
      <ion-list>
        <ion-item no-lines>
          <ion-input placeholder="*Nome" id="name" [value]="userDatails ? userDatails.client_name : null"
            formControlName="name" type="text"></ion-input>
        </ion-item>
        <ion-item no-lines style="background-color: rgba(165, 42, 42, 0.308); border-radius: 10px;" *ngIf="(formSignup.get('name').hasError('required')) && formSignup.get('name').touched">
          <div>Por favor informe seu nome!</div>
        </ion-item>
        <ion-item no-lines>
          <ion-input placeholder="*CPF" [value]="userDatails ? userDatails.client_cpf : null" formControlName="cpf"
            [brmasker]="{mask:'000.000.000-00',len:14}" type="text"></ion-input>
        </ion-item>
        <ion-item no-lines style="background-color: rgba(165, 42, 42, 0.308); border-radius: 10px;" *ngIf="(formSignup.get('cpf').hasError('required')) && formSignup.get('cpf').touched">
          <div>Por favor informe seu CPF!</div>
        </ion-item>
        <ion-item no-lines>
          <ion-input placeholder="*Telefone 1" [value]="userDatails ? userDatails.client_phone1 : null" formControlName="phone1"
            [brmasker]="{mask:'(00)00000-0000',len:14}" type="text"></ion-input>
        </ion-item>
        <ion-item no-lines style="background-color: rgba(165, 42, 42, 0.308); border-radius: 10px;" *ngIf="(formSignup.get('phone1').hasError('required')) && formSignup.get('phone1').touched">
          <div>Por favor informe seu contato!</div>
        </ion-item>
        <ion-item no-lines>
          <ion-input placeholder="Telefone 2" [value]="userDatails ? userDatails.client_phone2 : null" Name="phone2"
            [brmasker]="{mask:'(00)00000-0000',len:14}" type="text"></ion-input>
        </ion-item>
        <ion-item no-lines>
          <ion-input placeholder="*Estado" [value]="userDatails ? userDatails.client_state : null" formControlName="state"
            type="text"></ion-input>
        </ion-item>
        <ion-item no-lines style="background-color: rgba(165, 42, 42, 0.308); border-radius: 10px;" *ngIf="(formSignup.get('state').hasError('required')) && formSignup.get('state').touched">
          <div>Por favor informe o estado!</div>
        </ion-item>
        <ion-item no-lines>
          <ion-input placeholder="*Cidade" [value]="userDatails ? userDatails.client_city : null" formControlName="city"
            type="text"></ion-input>
        </ion-item>
        <ion-item no-lines style="background-color: rgba(165, 42, 42, 0.308); border-radius: 10px;" *ngIf="(formSignup.get('city').hasError('required')) && formSignup.get('city').touched">
          <div>Por favor informe sua cidade!</div>
        </ion-item>
        <ion-item no-lines>
          <ion-input placeholder="*Bairro" [value]="userDatails ? userDatails.client_neigh : null" formControlName="neigh"
            type="text"></ion-input>
        </ion-item>
        <ion-item no-lines style="background-color: rgba(165, 42, 42, 0.308); border-radius: 10px;" *ngIf="(formSignup.get('neigh').hasError('required')) && formSignup.get('neigh').touched">
          <div>Por favor informe seu bairro!</div>
        </ion-item>
        <ion-item no-lines>
          <ion-input placeholder="*Endereço" [value]="userDatails ? userDatails.client_adress : null" formControlName="address"
            type="text"></ion-input>
        </ion-item>
        <ion-item no-lines style="background-color: rgba(165, 42, 42, 0.308); border-radius: 10px;" *ngIf="(formSignup.get('address').hasError('required')) && formSignup.get('address').touched">
          <div>Por favor informe seu endereço!</div>
        </ion-item>
        <ion-item no-lines>
          <ion-input placeholder="*Número" [value]="userDatails ? userDatails.client_adress_num : null" formControlName="number"
            type="text"></ion-input>
        </ion-item>
        <ion-item no-lines style="background-color: rgba(165, 42, 42, 0.308); border-radius: 10px;" *ngIf="(formSignup.get('number').hasError('required')) && formSignup.get('number').touched">
          <div>Por favor informe o Nº!</div>
        </ion-item>
        <ion-item no-lines>
          <ion-input placeholder="Complemento" name="comp" type="comp"></ion-input>
        </ion-item>
        <ion-item no-lines>
          <ion-input placeholder="*CEP" [value]="userDatails ? userDatails.client_zip : null" formControlName="zip"
            [brmasker]="{mask:'00.000-000',len:10}" type="text"></ion-input>
        </ion-item>
        <ion-item no-lines style="background-color: rgba(165, 42, 42, 0.308); border-radius: 10px;" *ngIf="(formSignup.get('zip').hasError('required')) && formSignup.get('zip').touched">
          <div>Por favor informe seu CEP!</div>
        </ion-item>
        <ion-item no-lines>
          <ion-input placeholder="*Email" [value]="userDatails ? userDatails.client_email : null" formControlName="email"
            type="text"></ion-input>
        </ion-item>
        <ion-item no-lines style="background-color: rgba(165, 42, 42, 0.308); border-radius: 10px;" *ngIf="(formSignup.get('email').hasError('required') || formSignup.get('email').hasError('pattern')) && formSignup.get('email').touched">
          <div *ngIf="(formSignup.get('email').hasError('required')) && formSignup.get('email').touched">
            Por favor informe um email!
          </div>
          <div *ngIf="(formSignup.get('email').hasError('pattern')) && formSignup.get('email').touched">
            Informe um email válido!
          </div>
        </ion-item>
        <button ion-button block color="primary" type="submit" [disabled]="!formSignup.valid">Concluir</button>
        <!-- [disabled]="!formSignup.valid" -->
      </ion-list>
    </form>
  </div>
</ion-content>