page-signup {

}


// ion-header {
    
//     ion-navbar{
//         // background-color: color($colors, menu_orange)!important;
//         color: color($colors,menu_orange)!important;
//         width: 150px;
//     }
//     button{
//         background-color: color($colors,wel_orange)!important;
//     }
   

// }
#signup{
    //background-color: color($colors,menu_orange)!important;
    color: color($colors,menu_orange)!important;
    height: 100%;
    width: 100%;
    .logo_system{
        width: 100px;
        margin-left: 35%;
    }
    .loginCenter{
      // margin-top: 10%;
        float: center;
       // margin-bottom: auto;
       background-color: color($colors,menu_orange)!important;
       padding: 20px; 
       h3{
            text-align: center;
            padding: 10px;
            color: color($colors,dark)!important;
        }
        h6{
            text-align: right;
            color: black;
        }

    }
    .button{
        background-color: color($colors,wel_orange)!important;
        border-radius: 10px;
      }
    .back{
        background-color: color($colors,wel_orange)!important;
        border-radius: 10px;
    }
    ion-item{
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        //background-color: color($colors,menu_orange)!important;
    }

}
