page-signup {

}
#signup{
    //background-color: color($colors,menu_orange)!important;
    color: color($colors,menu_orange)!important;
    //height: 100%;
    width: 100%;
    
    position: relative;
    .logo_system{
        width: 100px;
        margin-left: 35%;
    }
    
    .loginCenter{
      // margin-top: 10%;
        float: center;
       // margin-bottom: auto;
       background-color:  rgb(238, 238, 238);
       border-radius: 5px;
       padding: 20px; 
       //margin-bottom: 70px;
       box-shadow: 2px 6px 15px 1px rgba(0,0,0,0.34);
       h3{
            text-align: center;
            padding: 10px;
            color: color($colors,dark)!important;
        }
        h6{
            text-align: right;
            color: black;
        }

    }
    .button{
        //background-color: color($colors,wel_orange)!important;
        border-radius: 10px;
        box-shadow: 2px 6px 15px 1px rgba(0,0,0,0.34);
      }
    .back{
        background-color: color($colors,wel_orange)!important;
        border-radius: 10px;
    }
    ion-item{
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        box-shadow: 2px 6px 15px 1px rgba(148, 148, 148, 0.34);
        //background-color: color($colors,menu_orange)!important;
    }
    .div-message{
        padding: 5px;
        background-color: rgb(235, 126, 126);
        border-radius: 5px;
        margin-bottom: 10px;
    }

}
